<!-- Default home page -->
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <h2>Natural wellness platform</h2>
            <p>
                NatureMDs is an innovative online natural wellness platform made up of highly qualified practitioners from diverse medical backgrounds.
                Our services include:
                optimum wellness consultations
                second opinions
                weight management
                nutritional advice
            </p>
        </div>
        <div class="col-xs-6 col-md-4">
            <h2>High level online security</h2>
            <p>
                NatureMDs ensures that you never have to waste time waiting for an appointment, as doctors’ visits can take place from the comfort and privacy of your home or office through webcam, live chat or email. We understand your health concerns and aim to provide a wellness consultation within 24 hours, provided you are a registered member with sufficient credits in your NatureMDs account.
            </p></div>
        <div class="col-xs-6 col-md-4">
            <h2>High level online security</h2>
            <p>
                NatureMDs is committed to a high level of online security, confidentiality and privacy, 24 hours a day. We provide online access to natural medical healthcare at any time and from anywhere in the world, changing the way you schedule, meet and consult with your wellness practitioner.
            </p>
        </div>
    </div>
